<h1>
  User Login
</h1>

<form #loginForm="ngForm" novalidate (submit)="login()">
  <mat-form-field>
      <input matInput required type="text" [(ngModel)]="user.userName" 
      name="username" placeholder="UserName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" required [(ngModel)]="user.password"
     name="password" placeholder="Password">
  </mat-form-field>
  <div>
    <button [disabled]="loginForm.invalid" type="submit" 
    mat-raised-button color="primary">Login</button>
  </div>
</form>