<h1>
    Onboarding Form
</h1>
{{onboardingForm.invalid}}
{{onboardingForm.valid}}
{{onboardingForm.pristine}}
{{onboardingForm.dirty}}
{{onboardingForm.value | json}}
<form [formGroup]="onboardingForm" novalidate>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="firstName" name="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="lastName" name="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input class="form-control" type="date" formControlName="dob" name="dob" placeholder="Date of Birth">
    </div>
    <div formGroupName="address">
        <div class="form-group">
            <input class="form-control" type="text" formControlName="addressLine1" name="addr1" placeholder="Address Line1">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="addressLine2" name="addr2" placeholder="Address Line12">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="city" name="city" placeholder="City">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="pin" name="pin" placeholder="Pin">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="addEmployer()">Add New Employer</button>
    </div>
    <div class="form-group" formArrayName="experience">
        <div class="form-group" *ngFor="let exp of onboardingForm['controls'].experience['controls'];let i=index">
            <div class="form-group" [formGroupName]="i">
                <div class="form-group">
                    <input class="form-control" type="text" formControlName="employer" name="employer" placeholder="Previous Employer">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" formControlName="startDate" name="sdate" placeholder="Start Date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" formControlName="endDate" name="edate" placeholder="End Date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" formControlName="position" name="position" placeholder="Position">
                </div>
                <div *ngIf="i>0" class="form-group">
                    <button type="button" class="btn btn-danger"
                     (click)="removeEmployer(i)">
                        Remove Employer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="onboardingForm.invalid" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>